%h1 Editing User
= bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-7"  do |form|
  = render partial: '/users/form', object: form
  .submit-field.float-right
    = form.submit class: "btn btn-success"
