%h1 Users
%table.table.table-hover.table-responsive
  %thead
    %th Name
    %th Email
    %th Member?
    %th Admin?
    %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email
        %td
          - if user.member
            %span.glyphicon.glyphicon-ok{style:'color:green;'}
          - else
            %span.glyphicon.glyphicon-remove{style:'color:red;'}
        %td
          - if user.admin
            %span.glyphicon.glyphicon-ok{style:'color:green;'}
          - else
            %span.glyphicon.glyphicon-remove{style:'color:red;'}
        %td= link_to 'Edit User', edit_user_path(user), class: "btn btn-success btn-sm"
        %td= link_to 'Destroy User', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
