@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "rails_bootstrap_forms";

label.required:after {
    content:" *";
}

.required {
  color: red;
}

.float-right {
  float: right;
}
.sign-out {
  margin-top: 5px;
  margin-right: 5px;
}
.big-check-box input{
transform: scale(1.5);
}
