@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "rails_bootstrap_forms";

label.required:after {
    content:" *";
}
.display_inline {
  display: inline;
  margin-right: 20px;
}

.no_response {
  color: #9C9C9C;
  font-style: italic;
}
.required {
  color: red;
}

.float-right {
  float: right;
}
.sign-out {
  margin-top: 5px;
  margin-right: 5px;
}
.big-check-box input{
transform: scale(1.5);
}

.rating {
  font-size: 35px;
  height: 40px;
  overflow: hidden;

  #star_text {
    font-size: 26px;
  }
}
.rating:not(:checked) > input {
  display: none;
}

/* - - - - - RATE */
#rate {
  top: -65px;
}
#rate:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;

  color: rgba(0, 135, 211, .4);
  line-height: 33px;
  text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
  color: rgb(0, 135, 211);
}
